<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/contact.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Contact Us | <%= title %></title>
</head>

<body>
    <main>
        <div class="contact_us_at">
            <h2 data-text="Contact Us At">Contact Us At</h2>
        </div>
        <div class="social-media">
            <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
        <section>
            <div class="container">
                <div class="card">
                    <div class="content">
                        <div class="imagebox"><img src="img/smit.jpg" alt="Dev/Smit"></div>
                        <br><br>
                        <div class="content_box">
                            <h3>Smit</h3>
                            <div class="developer">

                                <a target="1" href="https://www.linkedin.com/in/smit-sardhara-449612228"><img
                                        src="img/linkedin.png" alt="linkedin"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="imagebox"><img src="img/jamil.jpg" alt="Dev/Jamil"></div>
                        <br><br>
                        <div class="content_box">
                            <h3>Jamil</h3>
                            <div class="developer">

                                <a target="1" href="https://www.linkedin.com/in/jamil-shaikh-08b0b1158"><img
                                        src="img/linkedin.png" alt="linkedin"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <div class="imagebox"><img src="img/gaurav.jpeg" alt="Dev/Gaurav"></div>
                        <br><br>
                        <div class="content_box">
                            <h3>Gaurav</h3>
                            <div class="developer">

                                <a target="1" href="https://www.linkedin.com/in/gaurav-redkar-05b819221"><img
                                        src="img/linkedin.png" alt="linkedin"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>

        </footer>
</body>
</main>

</html>