<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <script defer src="js/questionShuffle.js"></script>
    <script defer src="js/quizQue.js"></script>
    <title>Quimzz | <%= title %></title>
</head>

<body>
    <section>
        <h1>Dive Into Knowledge.</h1>
        <img src="img/brain.png" class="theme">
        <!-- <div class="choose-quiz">
                <%= quizChoice %>
        </div> -->
        <a onclick="curtain()">Begin</a>
    </section>

    <header>
        <nav>
            <h2>Quimzz</h2>
            <a class='contact-link' href="/contact">
                <p>Contact@</p>
            </a>
        </nav>
    </header>

    <main>
        <img id="bubble">
        
        <div class="que">
            <p class="question"></p>
            <div class="learn-box">
                <h3 class="learn-title"></h3>
                <p class="learn-content"></p>
            </div>
            <a onclick='learnSection()'>
                <!-- <p class='learn-btn'>LEARN&#63;</p> -->
                <img src="img/questionMark.png" alt="More" class="learn-btn">
                <img class="crossBtn" src="img/cross.png" alt='cross'>
            </a>
        </div>
        <div class="options">
        </div>
        <div class="btn-wrap">
            <button type="button" onclick="next()">Next</button>
        </div>
    </main>

    <footer>
        copyright &copy; BamJamLoL
    </footer>

</body>

</html>