<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quimzz | <%= title %></title>
</head>
<body>
    <form action="/" method="POST">
        <label for="random">Random</label>
        <input type="radio" id='random' name="quiz" value='6266e238a44dbbafa302c2a4'>

        <label for="science">Science</label>
        <input type="radio" id='science' name="quiz" value='62684e210511dd75b01b8905'>

        <label for="tech">Technology</label>
        <input type="radio" id='tech' name="quiz" value='6266e238a44dbbafa302c2a4'>

        <label for="nature">Nature</label>
        <input type="radio" id='nature' name="quiz" value='6266e238a44dbbafa302c2a4'>

        <button type='submit'>Select Quiz</button>
    </form>
</body>
</html>
