@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

:root {
    --LandingPage-bg: linear-gradient(
        45deg,
        rgb(210, 210, 210),
        rgb(230, 120, 140),
        rgb(200, 40, 200),
        rgb(116, 116, 200)
    );
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: consolas, sans-serif;
    width: 100%;
    background: var(--LandingPage-bg);
    background-size: 300%;
    background-position: left;
    animation: curtain 10s infinite alternate;
}

.contact-link {
    display: flex;
    position: absolute;
    top: 0.4rem;
    right: 0.5rem;
    font-family: consolas;
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* ------------------------Landing Page--------------------- */

section {
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 0;
    transition: 3s;
    background: var(--LandingPage-bg);
    background-size: 300%;
    background-position: left;
    animation: curtain 10s infinite alternate;
}

@keyframes curtain {
    0% {
        background-position: left;
    } 100% {
        background-position: right;
    }
}

section h1 {
    font-family: 'Mochiy Pop P One', consolas, sans-serif;
    text-align: center;
    font-size: 2.6rem;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 35vh 0 10vh 0;
}

section img {
    opacity: 30%;
    display: flex;
    transform: translateY(-40vh);
    margin: 0 auto;
    height: 45vh;
    width: 60vh;
    border: none;
    transition: 1s;
}

section a {
    /* position: relative; */
    margin: 0 auto;
    border: none;
    display: flex;
    transform: translateY(-40vh);
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 1rem;
    border: 4px solid black;
    height: 6.5vh;
    width: 20vh;
    background: white;
    transition: 2s;
}

section a:hover {
    cursor: pointer;
    border-radius: 0;
    transform: translateY(-40.5vh);
    border: 4px solid rgb(100, 255, 100);
    background-color: rgb(100, 255, 100);
    box-shadow: 0 0 30px rgb(100, 255, 100), 0 0 60px rgb(100, 255, 100), 0 0 90px rgb(100, 255, 100);
}

/* -------------------------nav--------------------- */

header {
    transition: 3s;
}

nav:hover {
    cursor: default;
}

nav {
    position: relative;
    z-index: initial;
    height: 6vh;
    background: rgba(0,0,0,0);
    width: 100%;
    transition: 1s;
}

nav h2 {
    font-family: 'Mochiy Pop P One', consolas, sans-serif;
    text-align: center;
    padding-top: 1vh;
    letter-spacing: 3px;
    font-size: 1.5rem;
}

nav img {
    position: absolute;
    padding: 1vh;
    height: 4hv;
    width: 4vh;
    border-radius: 50%;
    transition: 0.4s;
}

nav img:hover {
    transform: rotateX(-180deg);
}

/* -------------------------Main---------------------- */

main {
    position: relative;
    width: 100%;
    height: 80vh;
    /* overflow: hidden; */
    transition: 1s;
}

main:hover {
    cursor: default;
}

.que {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17.5vh;
    width: 65%;
    background: rgba(0,0,0,0.2);
    border-radius: 5px;
    margin: 6vh auto 4vh auto;
    transition: 1s;
}

.que .question {
    font-family: 'Mochiy Pop P One', consolas, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0 1rem;
    transition: 1s;
}

.learn-btn {
    position: absolute;
    /* font-family: 'Mochiy Pop P One', consolas, sans-serif; */
    right: 5px;
    top: 5px;
    /* text-decoration: none; */
    /* color: black; */
    /* font-size: 0.75rem; */
    height: 1.4rem;
    border-radius: 50%;
    transition: 0.5s;
}

.learn-btn:hover {
    cursor: pointer;
    background: whitesmoke;
    transform: rotateX(180deg);
}

/* Learn interface changes */
.learn-box {
    display: none;
    opacity: 0;
    position: absolute;
    font-family: 'Mochiy Pop P One', consolas, sans-serif;
    margin: auto auto;
    width: 95%;
    height: 90%;
    padding: 0.5vh 0;
    transition: 1s;
    letter-spacing: 2px;
}

.learn-box h3 {
    font-family: 'Mochiy Pop P One', consolas, sans-serif;
    text-align: center;
    padding: 1vh 0 0.5vh 0;
    letter-spacing: 3px;
    font-size: 1.2rem;
    transition: 1s;
}

.crossBtn {
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 50%;
    display: none;
    opacity: 0;
    height: 1.6rem;
    transition: 1s;;
}

.crossBtn:hover {
    transform: rotateZ(180deg);
    background: whitesmoke;
}

.options {
    background: rgba(0,0,0,0.2);
    width: 65%;
    margin: 0 auto;
    padding: 0.5vh 0;
    /* font-family: 'Mochiy Pop P One', consolas, sans-serif; */
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 4px;
    transition: 1s;
}

.box {
    position: relative;
    height: 6vh;
    width: 80%;
    border-radius: 2rem;
    background: var(--LandingPage-bg);
    background-size: 300%;
    background-position: right;
    margin: 1vh auto;
    display: flex;
    align-items: center;
    font-family: 'Mochiy Pop P One', consolas, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 1rem;
    animation: fadeIn 1.5s ease forwards;
    transition: 1s;
    overflow: hidden;
}

.box:hover {
    cursor: pointer;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.btn-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-wrap:hover {
    cursor: pointer;
}

button, .redirect-home {
    font-family: consolas;
    font-size: 1.2rem;
    padding: 1vh 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 1vh 0;
    background: rgba(0,0,0,0);
    border: 2px solid black;
    transition: 1s;
}

button:hover, .redirect-home:hover {
    background: white;
    box-shadow: 0 0 30px whitesmoke, 0 0 60px whitesmoke, 0 0 90px whitesmoke;
}

.redirect-home {
    text-decoration: none;
    color: black;
    display: none;
    opacity: 0;
}

/* ----------------------footer------------------------ */

footer {
    margin-top: 4vh;
    height: 4vh;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    transition: 1s;
}

/* --------------------------JS--------------------- */

header, main, footer {
    display: none;
    opacity: 0;
    transition: 1s;
}

#bubble {
    position: absolute;
    left: 50%;
    bottom: 50%;
    height: 60vh;
    width: 60vh;
    opacity: 30%;
    animation: bubble 10s infinite alternate;
    transition: 0.5s;
}

@keyframes bubble {
    0% {
        transform: none;
    } 50% {
        transform: translateY(50%);
    } 65% {
        transform: translateX(-20%);
    } 100% {
        transform: none;
    }
}

/* Option animation */
.correct {
    justify-content: center;
}
.correct::before {
    position: absolute;
    content: '';
    left: 0%;
    height: 100%;
    width: 0%;
    background-color: green;
    animation: slideRight 1s ease forwards;
    z-index: -1;
}

@keyframes slideRight {
    0% {
        width: 0%;
    } 100% {
        width: 100%;
    }
}
.wrong {
    justify-content: center;
}
.wrong::before {
    position: absolute;
    content: '';
    right: 0%;
    height: 100%;
    width: 0%;
    background-color: red;
    animation: slideLeft 1s ease forwards;
    z-index: -1;
}

@keyframes slideLeft {
    0% {
        width: 0%;
    } 100% {
        width: 100%;
    }
}

/* Restrict click  */

.already-clicked {
    pointer-events: none;
}


/* Media-queries */

@media (max-width: 712px) {
    main img {
        height: 10vh;
        width: 10vh;
    }

    nav h2 {
        font-size: 0.8rem;
        margin-top: 5vh;
    }

    .menuContent label {
        font-size: 0.5rem;
    }

    .score {
        font-size: 0.75rem;
    }

    .menuContent a {
        font-size: 0.5rem;
    }
}