@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

:root {
    --LandingPage-bg: linear-gradient(45deg,
            rgb(210, 210, 210),
            rgb(230, 120, 140),
            rgb(200, 40, 200),
            rgb(116, 116, 200));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: consolas, sans-serif;
    width: 100%;
    background: var(--LandingPage-bg);
    background-size: 300%;
    background-position: left;
    animation: curtain 10s infinite alternate;
}

header {
    transition: 3s;
}

nav:hover {
    cursor: default;
}

nav {
    position: relative;
    z-index: initial;
    height: 6vh;
    background: rgba(0,0,0,0);
    width: 100%;
    transition: 1s;
}

nav h2 {
    font-family: 'Mochiy Pop P One', consolas, sans-serif;
    text-align: center;
    padding-top: 1vh;
    letter-spacing: 3px;
    font-size: 1.5rem;
}

nav img {
    position: absolute;
    padding: 1vh;
    height: 4hv;
    width: 4vh;
    border-radius: 50%;
    transition: 0.4s;
}

nav img:hover {
    transform: rotateX(-180deg);
}

@keyframes curtain {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

.container {
    font-family: consolas, sans-serif;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background: var(--LandingPage-bg);
    background-size: 300%;
    background-position: left;
    animation: curtain 10s infinite alternate;
}

.categories {
    width: 26vw;
    height: 26vw;
    background: lavender;
    border-radius: 5px;
    box-shadow: 0px 5px 12px -6px rgba(0, 0, 0, 0.4);
    padding: 20px;
}

.choose {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    padding-bottom: 12px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}

.hidebox {
    display: none;
}

.categories form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    border-radius: 10px;
}

.label-radio {
    height: 7vw;
    text-align: center;
    box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.35);
    padding: 20px;
    border: 1px solid white;
    cursor: pointer;
    background: rgb(238, 238, 238);
    border-radius: 5px;
}

.display-box .content {
    font-weight: 300;
    margin-top: 1.5vw;
}

input[type=radio]:checked+.label-radio {
    border-color: black;
    box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.8);
    background: rgba(238, 238, 238, 0.8);
}

.submit {
    margin-top: 1vw;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

.btn {
    /* padding: 5px;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    font-size: 15px;
    margin: 1rem 0;
    transition: 0.5s; */
    cursor: pointer;
    border: 2px solid rgba(247, 247, 247, 0.733);
    font-family: consolas;
    transform: translateY(-1rem);
    font-size: 1rem;
    padding: 1vh 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: rgba(0,0,0,0);
    box-shadow: 0 0 2px black;
    transition: 1s;
}

.btn:hover {
    /* border: 1px solid black;
    box-shadow: 1px 1px 10px whitesmoke, 1px 1px 20px whitesmoke, 1px 1px 30px whitesmoke; */
    border: 2px solid black;
    background: white;
    box-shadow: 0 0 30px whitesmoke, 0 0 60px whitesmoke, 0 0 90px whitesmoke;
}